.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
webpack.config.js
node_modules
docs
tailwind.config.js
sample
postcss.config.js
.templates
.github
scripts
.all-contributorsrc
assets/v2.*
assets/v3.*
assets/v4.*
assets/sponsors
