/* Styling: https://code.visualstudio.com/api/references/theme-color */

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.absolute {
  position: absolute !important;
}

.collapsible__body,
.ext_settings {
	padding: 1rem 1.25rem;
  box-sizing: border-box;
}

#app, .frontmatter {
  height: 100%;
}

.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation-fill-mode: both;
  animation: load7 1.8s infinite ease-in-out;
}

.spinner {
  color: var(--vscode-panelSectionHeader-foreground);
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.spinner:before,
.spinner:after {
  content: '';
  position: absolute;
  top: 0;
}

.spinner:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner:after {
  left: 3.5em;
}

.frontmatter {
  padding-top: 0;
  padding-bottom: var(--input-margin-vertical);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.frontmatter h3 {
  margin-bottom: 1rem;
}

.frontmatter p,
.frontmatter h4,
.frontmatter ul {
  margin-bottom: .5rem;
}

.article__tags h3,
.seo__status h3 {
  display: flex;
  align-items: center;
}

.section {
  box-sizing: border-box;
  position: relative;
}

.section h3 svg {
  margin-right: 0.5rem;
}

.seo__status__details, .seo__status__keywords {
  margin-bottom: 1rem;
}

.collapsible__body h4 {
  text-align: center;
  font-weight: bold;
}

.not-valid {
  color: var(--vscode-errorForeground);
}

.article__tags {
  margin-bottom: 1rem;
}

.article__tags__dropbox {
  width: 90%;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: absolute;
  list-style: none;
  overflow: auto;
  max-height: 200px;
}

.article__tags__dropbox.open {
  border: 1px solid rgba(0, 0, 0, .9);
}

.article__tags__input input {
  border: 1px solid var(--vscode-inputValidation-infoBorder);
}

.article__tags__input.freeform {
  position: relative;
}

.article__tags__input.freeform input {
  padding-right: 35px;
}

.article__tags__input button {
  position: absolute;
  bottom: 1px;
  top: 1px;
  right: 1px;
  width: 30px;
  padding-bottom: 2px; 
  padding-top: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.article__tags ul {
	color: var(--vscode-dropdown-foreground);
  background-color: var(--vscode-dropdown-background);
}

.article__tags li {
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  cursor: pointer;
}

.article__tags li:active {
	color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
}

.article__tags li[aria-selected="true"] {
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-hoverBackground);
}

.article__tags li[aria-disabled="true"] {
  display: none;
}

.article__tags__items {
  margin-top: 1rem;
}

.article__tags__items__item {
  display: inline-flex;
  margin-bottom: .5rem;
  margin-right: .5rem;
}

.article__tags__items__item {
  display: inline-block;
  margin-bottom: .5rem;
  margin-right: .5rem;
}

.article__tags__items__item_add,
.article__tags__items__item_delete {
  display: inline-block;
  width: auto;
}

.article__tags__items__item svg {
  display: inline;
  vertical-align: bottom;
}

.article__tags__items__item_delete span {
  margin-left: .5rem;
}

.article__tags__items__pill_notexists {
  color: var(--vscode-inputValidation-errorForeground);
  background-color: var(--vscode-inputValidation-errorBackground);
  padding-left: .5rem;
}

.article__tags__items__pill_notexists:hover {
  color: var(--vscode-inputValidation-errorForeground);
  background-color: var(--vscode-inputValidation-errorBackground);

  filter: contrast(60%);
}

.article__tags__items__item_add {
  color: var(--vscode-inputValidation-infoForeground);
  background-color: var(--vscode-inputValidation-infoBackground);
  border-right: 1px solid var(--vscode-inputValidation-infoBorder);
}

.article__tags__items__item_add:hover {
  color: var(--vscode-inputValidation-infoForeground);
  background-color: var(--vscode-inputValidation-infoBackground);
  border-right: 1px solid var(--vscode-inputValidation-infoBorder);

  filter: contrast(60%);
}

.article__actions > * + * {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.seo__status__details ul > * + *,
.ext_settings > * + * {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.ext_link_block {
  display: flex;
  align-items: center;
}

.ext_link_block svg {
  margin-right: .5rem;
}

.ext_link_block button,
.ext_link_block a {
  align-items: center;
  color: var(--vscode-button-secondaryForeground);
  background-color: var(--vscode-button-secondaryBackground);
  border: 0px;
  border-radius: 0px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  line-height: 26px;
  padding: 0px 14px;
  user-select: none;
  text-decoration: none;
  width: auto;
}

.ext_link_block a:hover, 
.ext_link_block a:active, 
.ext_link_block a:focus,
.ext_link_block a:visited {
  color: var(--vscode-button-secondaryForeground);
}

.table__cell {
  overflow: hidden;
}

.table__title {
  text-transform: capitalize;
}

.table__cell__validation {
  text-align: center;
}

.table__cell__validation .valid {
  color: #46EC86;
}

.table__cell__validation .warning {
  color: #E6AF2E;
}