/* Styling: https://code.visualstudio.com/api/references/theme-color */

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.inherit {
  position: inherit !important;
}

.z-10 { z-index: 10 !important; }
.z-20 { z-index: 10 !important; }

.w-full {
  width: 100% !important;
}

.collapsible__body,
.ext_settings {
	padding: 1rem 1.25rem;
  box-sizing: border-box;
}

#app, .frontmatter {
  height: 100%;
}

.frontmatter.media_selection {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  text-align: center;
	padding: 1rem 1.25rem;
}

.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation-fill-mode: both;
  animation: load7 1.8s infinite ease-in-out;
}

.spinner {
  color: var(--vscode-panelSectionHeader-foreground);
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.spinner:before,
.spinner:after {
  content: '';
  position: absolute;
  top: 0;
}

.spinner:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner:after {
  left: 3.5em;
}

.frontmatter {
  padding-top: 0;
  padding-bottom: var(--input-margin-vertical);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.frontmatter h3 {
  margin-bottom: 1rem;
}

.frontmatter p,
.frontmatter h4,
.frontmatter ul {
  margin-bottom: .5rem;
}

.article__tags h3,
.seo__status h3 {
  display: flex;
  align-items: center;
}

.section {
  box-sizing: border-box;
  position: relative;
}

.section h3 svg {
  margin-right: 0.5rem;
}

.seo__status__details, .seo__status__keywords {
  margin-bottom: 1rem;
}

.collapsible__body h4 {
  text-align: center;
  font-weight: bold;
}

.not-valid {
  color: var(--vscode-errorForeground);
}

.article__tags {
  margin-bottom: 1rem;
}

.article__tags__dropbox {
  width: 90%;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: absolute;
  list-style: none;
  overflow: auto;
  max-height: 200px;
}

.article__tags__dropbox.open {
  border: 1px solid rgba(0, 0, 0, .9);
}

.article__tags__input input {
  border: 1px solid var(--vscode-inputValidation-infoBorder);
}

.article__tags__input.freeform {
  position: relative;
}

.article__tags__input.freeform input {
  padding-right: 35px;
}

.article__tags__input button {
  position: absolute;
  bottom: 1px;
  top: 1px;
  right: 1px;
  width: 30px;
  padding-bottom: 2px; 
  padding-top: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.article__tags ul {
	color: var(--vscode-dropdown-foreground);
  background-color: var(--vscode-dropdown-background);
}

.article__tags li {
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  cursor: pointer;
}

.article__tags li:active {
	color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
}

.article__tags li[aria-selected="true"] {
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-hoverBackground);
}

.article__tags li[aria-disabled="true"] {
  display: none;
}

.article__tags__items {
  margin-top: 1rem;
}

.article__tags__items__item {
  display: inline-flex;
  margin-bottom: .5rem;
  margin-right: .5rem;
}

.article__tags__items__item {
  display: inline-block;
  margin-bottom: .5rem;
  margin-right: .5rem;
}

.article__tags__items__item_add,
.article__tags__items__item_delete {
  display: inline-block;
  width: auto;
}

.article__tags__items__item svg {
  display: inline;
  vertical-align: bottom;
}

.article__tags__items__item_delete span {
  margin-left: .5rem;
}

.article__tags__items__pill_notexists {
  color: var(--vscode-inputValidation-errorForeground);
  background-color: var(--vscode-inputValidation-errorBackground);
  padding-left: .5rem;
}

.article__tags__items__pill_notexists:hover {
  color: var(--vscode-inputValidation-errorForeground);
  background-color: var(--vscode-inputValidation-errorBackground);

  filter: contrast(60%);
}

.article__tags__items__item_add {
  color: var(--vscode-inputValidation-infoForeground);
  background-color: var(--vscode-inputValidation-infoBackground);
  border-right: 1px solid var(--vscode-inputValidation-infoBorder);
}

.article__tags__items__item_add:hover {
  color: var(--vscode-inputValidation-infoForeground);
  background-color: var(--vscode-inputValidation-infoBackground);
  border-right: 1px solid var(--vscode-inputValidation-infoBorder);

  filter: contrast(60%);
}

.article__actions > * + *,
.other_actions > * + *,
.base__actions > * + *,
.base__information > * + * {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.base__action label {
  display: block;
}

.base__action input {
  width: 100% !important;
}

.seo__status__details ul > * + *,
.ext_settings > * + * {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.ext_link_block {
  display: flex;
  align-items: center;
  width: 100%;
}

.ext_link_block svg {
  margin-right: .5rem;
  display: block;
  width: 16px;
  height: 16px;
  min-width: 16px;
}

.ext_link_block button span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ext_link_block button,
.ext_link_block a {
  align-items: center;
  color: var(--vscode-button-secondaryForeground);
  background-color: var(--vscode-button-secondaryBackground);
  border: 0px;
  border-radius: 0px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  line-height: 26px;
  padding: 0px 14px;
  user-select: none;
  text-decoration: none;
  width: 100%;
  white-space: nowrap;
}

.ext_link_block button.active {
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-background);
}
.ext_link_block button.active:hover {
	cursor: pointer;
	background: var(--vscode-button-hoverBackground);
}

.ext_link_block a:hover, 
.ext_link_block a:active, 
.ext_link_block a:focus,
.ext_link_block a:visited {
  color: var(--vscode-button-secondaryForeground);
}

.table__cell {
  overflow: hidden;
}

.table__title {
  text-transform: capitalize;
}

.table__cell__seo_details {
  padding: 10px;
}

.table__cell__validation {
  text-align: left;
}

.table__cell__validation div {
  display: flex;
  align-items: center;
  padding: 2px 0;
}

.table__cell__validation .valid {
  color: #46EC86;
}

.table__cell__validation .warning {
  color: #E6AF2E;
}

.table__cell__validation div span + span {
  margin-left: .5rem;
}

.seo__status__note {
  font-size: 10px;
  padding: 3px 0;
}

/* Fields */
.field__toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.field__toggle input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.field__toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--vscode-button-secondaryBackground);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.field__toggle__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .field__toggle__slider {
  background-color: var(--vscode-button-background);
}

input:focus + .field__toggle__slider {
  box-shadow: 0 0 1px var(--vscode-button-background);
}

input:checked + .field__toggle__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Metadata */
.metadata_field {
  margin-bottom: 1rem;
}

.metadata_field__label {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.metadata_field__label svg {
  margin-right: .5rem;
}

.metadata_field__error {
  color: var(--vscode-errorForeground);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.metadata_field__error button {
  color: var(--vscode-button-secondaryForeground);
  background-color: var(--vscode-button-secondaryBackground);
  padding-left: 1rem;
  padding-right: 1rem;
  width: auto;
}

.metadata_field__error button:hover {
  background-color: var(--vscode-button-secondaryHoverBackground);
}

.metadata_field__input, .metadata_field__input:focus,
.metadata_field__textarea, .metadata_field__textarea:focus {
  outline: none;
}

.metadata_field__limit {
  color: var(--vscode-inputValidation-warningBorder);
  margin-top: .25rem;
}

.metadata_field__number {
  border: 1px solid var(--vscode-inputValidation-infoBorder) !important;
  outline: none !important;
}

.metadata_field__choice__toggle {
  color: var(--vscode-input-placeholderForeground);
  border: 1px solid var(--vscode-inputValidation-infoBorder) !important;
  outline: none !important;
  width: 100%;
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  background-color: var(--vscode-input-background);

  display: flex;
  align-items: center;
  position: relative;
}

.metadata_field__choice__toggle:hover,
.metadata_field__choice__toggle:focus,
.metadata_field__choice__toggle:active,
.metadata_field__choice__toggle:disabled {
  background-color: var(--vscode-input-background);
}

.metadata_field__choice__toggle span {
  margin-right: 1rem;
}

.metadata_field__choice__toggle svg.icon {
  height: 1rem;
  width: 1rem;
  margin-left: .25rem;

  position: absolute;
  right: .25rem;
}

.metadata_field__choice_list {
  width: 90%;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: absolute;
  list-style: none;
  overflow: auto;
  max-height: 200px;

	color: var(--vscode-dropdown-foreground);
  background-color: var(--vscode-dropdown-background);
}

.metadata_field__choice_list.open {
  border: 1px solid rgba(0, 0, 0, .9);
}

.metadata_field__choice_list li {
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  cursor: pointer;
}

.metadata_field__choice_list li:active {
	color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
}

.metadata_field__choice_list li[aria-selected="true"] {
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-hoverBackground);
}

.metadata_field__choice_list li[aria-disabled="true"] {
  display: none;
}

.metadata_field__choice_list__item {
  opacity: 0.8;
}

.metadata_field__choice__button {
  margin-top: .5rem;
  display: inline-flex;
  align-items: center;
  width: auto;
  margin-right: .5rem;
}

.metadata_field__choice__button_icon {
  height: 1.25rem;
  width: 1.25rem;
  margin-left: .5rem;
}

.metadata_field__datetime {
  display: flex;
  justify-content: space-between;
}

.metadata_field__datetime > .react-datepicker-wrapper {
  margin-right: 1rem;
}

.metadata_field__datetime > button {
  color: var(--vscode-button-secondaryForeground);
  background-color: var(--vscode-button-secondaryBackground);
  padding-left: 1rem;
  padding-right: 1rem;
  width: auto;
}

.metadata_field__datetime > button:hover {
  background-color: var(--vscode-button-secondaryHoverBackground);
}

.metadata_field__multiple_images {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.metadata_field__preview_image img {
  display: block;
  margin: 0 auto;
  max-height: 16rem;
}

.metadata_field__preview_image__button {
  background-color: transparent;
  border: 2px dashed var(--vscode-button-background);
  padding: 1.5rem;
  filter: brightness(85%);
}

.metadata_field__preview_image__button:hover {
  background-color: rgba(255, 255, 255, .1);
  filter: brightness(100%);
}

.metadata_field__preview_image__button svg {
  color: var(--vscode-foreground);
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}

.metadata_field__preview_image__button span {
  color: var(--vscode-foreground);
  display: inline-block;
  margin: 0 auto;
  margin-top: .5rem;
}

.metadata_field__preview_image__preview {
  background-color: var(--vscode-button-secondaryBackground);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.metadata_field__preview_image__remove {
  background-color: var(--vscode-inputValidation-errorBackground);
  color: var(--vscode-inputValidation-errorForeground);
}

.metadata_field__preview_image__remove:hover {
  background-color: var(--vscode-inputValidation-errorBackground);
  color: var(--vscode-inputValidation-errorForeground);
  opacity: .9;
}

/* File list */
.file_list vscode-label {
  border-bottom: 1px solid var(--vscode-foreground);
}

.file_list__items {
  padding: 0;
  list-style: none;
}

.file_list__items__item {
	color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  cursor: pointer;
  height: 22px;
  line-height: 22px;
  margin: 0 -1rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.file_list__items__item:hover {
	background-color: var(--vscode-list-hoverBackground);
  color: var(--vscode-list-hoverForeground);
  cursor: pointer;
}

.file_list__items__item svg {
  display: block;
  flex-shrink: 0;
  height: 20px;
  width: 20px;
  margin-right: .25rem;
}

.file_list__items__item span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Sponsor */
.sponsor {
  opacity: 0.5;
}

.sponsor:hover {
  opacity: 1;
}

.sponsor:hover svg {
  fill: currentcolor;
}

.sponsor svg {
  height: 20px;
  width: 20px;
  margin-right: .25rem;
}

.sponsor a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--vscode-foreground);
  text-decoration: none;
}

.sponsor a:hover {
  color: var(--vscode-foreground);
  text-decoration: none;
}

.sponsor a > span {
  margin-right: .25rem;
}

/* Timepicker */
.react-datepicker button:hover {
  background-color: none !important;
}

.react-datepicker__triangle {
  transform: translate3d(15px, 0px, 0px) !important;
}

.react-datepicker-time__input {
  background: transparent !important;
  color: #000 !important;
}

.react-datepicker-time__input input {
  border: 1px solid #aeaeae !important;
}