@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.loader {
  border-top-color: #15c2cb;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

[type=checkbox]:checked {
  background-image: none;
}

[type=checkbox]:checked:after {
  content: '\2713';
  font-size: 14px;
  position: absolute;
  top: -1px;
  left: 2px;
  color: white;
}

.autoform {
  @apply py-4;

  h2 {
    @apply text-sm mb-2;
  }

  form {
    label {
      @apply block;
      @apply text-gray-500;
      @apply my-2;
    }

    input {
      @apply w-full text-vulcan-500;

      &::placeholder {
        @apply text-gray-500;
      }
    }

    .ant-form-item-has-error .ant-form-item-control-input {
      @apply relative;
    }
    
    .ant-form-item-has-error input {
      @apply border border-red-400;
    }

    .ant-form-item-has-error .ant-form-item-children-icon {
      @apply text-red-400 absolute right-1 top-2;

      svg {
        @apply w-4 h-4;
      }
    }

    .errors {
      > div {
        @apply border border-red-400 !important;
      }
      
      ul {
        @apply list-disc pl-6 pr-4 py-4 bg-opacity-50 text-vulcan-500;
      }

      li {
        @apply capitalize text-gray-900;
      }
    }

    input[type="submit"] {
      @apply w-auto mt-4 inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium text-white bg-teal-600 cursor-pointer;

      &:hover {
        @apply bg-teal-700;
      }

      &:focus {
        @apply outline-none;
      }

      &:disabled {
        @apply bg-gray-500 opacity-50;
      }
    }
  }

  .fields {}

  .ant-list.ant-list-bordered {
    @apply border-t border-gray-300;
  }
}

.vscode-dark .autoform {
  form {
    label {
      @apply text-whisper-900;
    }

    input[type="submit"] {
      @apply text-vulcan-500
    }

    .errors {
      li {
        @apply text-white;
      }
    }
  }

  .ant-list.ant-list-bordered {
    @apply border-vulcan-100;
  }
}