/* Animations */
@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* CSS */
.block_field__form,
.list_field__form {
  background-color: transparent;
  border: 1px dashed var(--vscode-button-background);
  padding: 1rem;
}

.block_field__form__buttons,
.list_field__form__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  button {
    margin: 0 1rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.block_field__form__button__save,
.list_field__form__button__save {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);

  &:hover {
    background-color: var(--vscode-button-hoverBackground);
  }
}

.block_field__form__button__cancel,
.list_field__form__button__cancel {
  background-color: var(--vscode-button-secondaryBackground);
  color: var(--vscode-button-secondaryForeground);

  &:hover {
    background-color: var(--vscode-button-secondaryHoverBackground);
  }
}

.json_data__field,
.block_field,
.list_field {
  border: 1px dashed var(--vscode-button-secondaryBackground);
  color: var(--vscode--settings-headerForeground);
  padding: .5rem 1rem;
  margin-bottom: .5rem;

  .autoform {
    background-color: transparent;
    border: 1px dashed var(--vscode-button-background);
    padding: 1rem;

    h3 {
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
    }
  }

  .fields > div {
    margin-bottom: .5rem;

    &:last-child {
      .json_data__selector h3 {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
      }
      
      margin-bottom: 0;
    }
  }
}

.json_data__selector {
  h3 {
    font-size: var(--vscode-font-size);
    font-weight: bold;
    text-align: left;
  }

  select {
    padding: .5rem;
  }
}

.json_data__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top:1rem;

  button, input {
    display: inline;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  input {
    background: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    margin-right: 1rem;
    cursor: pointer;

    &:hover {
      background: var(--vscode-button-hoverBackground);
    }
  }

  button {
    background: var(--vscode-button-secondaryBackground);
    color: var(--vscode-button-secondaryForeground);

    &:hover {
      background: var(--vscode-button-secondaryHoverBackground);
    }
  }
}

.list_field__list {
  padding-left: 0;
}

.json_data__list,
.list_field__list {
  margin-top: 1rem;

  label {
    display: block;
    margin-bottom: .5rem;
    font-weight: bold;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li, .sortable_item {
    border-bottom: 1px solid var(--vscode-button-secondaryBackground);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;

    span {
      margin-right: .5rem;
    }

    > div {
      display: flex;
      align-items: center;

      svg {
        margin-right: .5rem;
      }
      
      button:last-child {
        margin-left: .5rem;
      }
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}

.json_data__list .metadata_field__label {
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;
  }

  button svg {
    margin-right: 0;
  }
}

.json_data__record {
  border-bottom: 1px solid var(--vscode-button-secondaryBackground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;

  &.json_data__record_selected {
    background-color: rgba(255, 255, 255, .1);
    filter: brightness(100%);
  }

  span {
    margin-right: .5rem;
  }

  > div {
    display: flex;
    align-items: center;

    svg {
      margin-right: .5rem;
    }
    
    button:last-child {
      margin-left: .5rem;
    }
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }

  svg {
    height: 1.25rem;
    width: 1.25rem;
  }
}

.drag_handler {

  svg {
    height: 1.25rem;
    width: 1.25rem;
    cursor: move;
  }
}

.sortable_item button,
.json_data__list__button,
.list_field__list__button {
  width: auto;
  background: none;
  color: inherit;
  outline: none !important;
  outline-offset: inherit !important;
  padding: 0;
  margin: 0;

  &:hover {
    color: var(--vscode-editor-foreground);
    background: none;
  }
}

.json_data__list__button_icon,
.list_field__list__button_icon {
  height: 1rem;
  width: 1rem;
}

.sr-only {
  display: none;
}

/* Metadata section - Content type */
.metadata_field__alert svg {
  color: var(--vscode-editorWarning-foreground)
}

.hint {
  margin-bottom: 1rem;
}

.hint__buttons vscode-button {
  display: block;
  margin-bottom: .5rem;
  text-align: center;
}

.hint__buttons vscode-button:last-child {
  margin-bottom: 0;
}

vscode-divider {
  margin-top: 1rem;
}

.inline_hint {
  color: var(--vscode-sideBar-foreground);
}

/* File field */
.metadata_field__file__button.not_empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.metadata_field__file__button.not_empty svg {
  height: 16px;
  width: 16px;
  display: inline-block;
  margin: inherit;
}

.metadata_field__file__button.not_empty span {
  margin-top: 0;
  display: inline-block;
  margin: inherit;
  margin-left: .5rem;
}

.metadata_field__file__list.multiple {
  margin-top: 1rem;
}

.metadata_field__file__list__item {
  display: flex;
  align-items: center;
  padding: .5rem .25rem;
  overflow: hidden;
}

.metadata_field__file__list__item:nth-child(odd) {
  background-color: rgba(255, 255, 255, .05);
  filter: brightness(100%);
}

.metadata_field__file__list__item:hover {
  background-color: rgba(255, 255, 255, .1);
  filter: brightness(100%);
}

.metadata_field__file__item__icon {
  margin-right: .5rem;
  display: flex;
  align-items: center;
}

.metadata_field__file__item__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.metadata_field__file__item__remove {
  display: none;
  background: none;
  width: auto;
  color: var(--vscode-inputValidation-errorForeground);
  padding: 0;
  align-items: center;
}

.metadata_field__file__item__remove:hover {
  background: var(--vscode-inputValidation-errorBackground);
}

.metadata_field__file__list__item:hover .metadata_field__file__item__remove {
  display: flex;
  margin: -.5rem -.25rem -.5rem 0;
  padding: .5rem;
}

/* Tags */
.article__tags__input button {
  margin: 1px 0;
  padding: 0 .5rem;
  border-left: 1px solid var(--vscode-inputValidation-infoBorder);
	background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);

  display: flex;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;

  &:disabled {
    background: none;
    filter: brightness(100%);
    color: var(--vscode-disabledForeground);
  }
}

.article__tags__items {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
}

.tag {
  align-items: center;
  background-color: var(--vscode-button-background);
  border: 1px solid var(--vscode-button-border);
  border-radius: 2px;
  color: var(--vscode-button-foreground);
  display: inline-flex;
  font-size: 12px;
  line-height: 16px;
  padding: .25rem .25rem;
  margin-bottom: .5rem;
  margin-right: .5rem;
}

.tag button {
  background: none;
  border: none;
  color: inherit;
  outline: none !important;
  outline-offset: inherit !important;
  margin: 0;
  display: inline-flex;
  align-items: center;
  padding: .25rem;
}

.tag .tag__create {
  margin-right: .25rem;
}

.tag .tag__create:hover {
  color: var(--vscode-inputValidation-infoForeground, #000);
  background-color: var(--vscode-inputValidation-infoBackground);
  border-radius: 2px;
}

.vscode-dark .tag .tag__create:hover {
  color: var(--vscode-inputValidation-infoForeground, #fff);
}

.tag .tag__delete {
  margin-left: .25rem;
}

.tag .tag__delete:hover {
  background-color: var(--vscode-inputValidation-errorBackground);
  color: var(--vscode-inputValidation-errorForeground, #000);
  border-radius: 2px;
}

.vscode-dark .tag .tag__delete:hover {
  color: var(--vscode-inputValidation-infoForeground, #fff);
}

.tag .tag__value {
  flex-grow: 1;
  white-space: nowrap;
}

/* Slug field */
.metadata_field__slug {
  position: relative;
  width: 100%;
}

.metadata_field__slug input {
  padding-right: 2.5rem;
  border: 1px solid var(--vscode-inputValidation-infoBorder);
  outline: none;

  &:disabled {
    color: var(--vscode-disabledForeground);
  }
}

.metadata_field__slug button {
  background: var(--vscode-input-background);
  border: none;
  border-left: 1px solid var(--vscode-inputValidation-infoBorder);
  color: inherit;
  outline: none !important;
  outline-offset: inherit !important;
  margin: 1px;
  padding: 0 .5rem;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;

  display: flex;
  align-items: center;

  span {
    margin-right: .5rem;
    font-size: .8rem;
  }

  svg {
    width: 16px;
    height: 16px;
  }

  &.metadata_field__slug__button_update {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    margin: 0;
  }
}

/* Divider */
.divider {
  background: var(--divider-background);
}

/* Git actions */
.git_actions__sync {
  display: flex;
  align-items: center;
  justify-content: center;
}

.git_actions__sync svg {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: .5rem;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

/* Quill changes */
.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border-color: var(--vscode-inputValidation-infoBorder) !important;
}

.ql-toolbar.ql-snow {
  padding: var(--input-padding-vertical) var(--input-padding-horizontal) !important;
}

.ql-snow .ql-picker {
  color: var(--vscode-settings-headerForeground) !important;
}

.ql-snow .ql-fill {
  fill: var(--vscode-settings-headerForeground) !important;
}

.ql-snow .ql-stroke {
  stroke: var(--vscode-settings-headerForeground) !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border-color: var(--vscode-inputValidation-infoBorder) !important;
}

.ql-snow .ql-picker-options {
  background: var(--vscode-input-background) !important;
  color: var(--vscode-input-foreground) !important;
  border-color: var(--vscode-inputValidation-infoBorder) !important;
}

.ql-editor {
  background-color: var(--vscode-input-background) !important;
  padding: var(--input-padding-vertical) var(--input-padding-horizontal) !important;
}

.ql-snow.ql-toolbar button:hover, 
.ql-snow .ql-toolbar button:hover, 
.ql-snow.ql-toolbar button:focus, 
.ql-snow .ql-toolbar button:focus, 
.ql-snow.ql-toolbar button.ql-active, 
.ql-snow .ql-toolbar button.ql-active, 
.ql-snow.ql-toolbar .ql-picker-label:hover, 
.ql-snow .ql-toolbar .ql-picker-label:hover, 
.ql-snow.ql-toolbar .ql-picker-label.ql-active, 
.ql-snow .ql-toolbar .ql-picker-label.ql-active, 
.ql-snow.ql-toolbar .ql-picker-item:hover, 
.ql-snow .ql-toolbar .ql-picker-item:hover, 
.ql-snow.ql-toolbar .ql-picker-item.ql-selected, 
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: var(--vscode-button-background) !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: var(--vscode-button-background) !important;
}

.ql-snow.ql-toolbar button:hover .ql-fill, .ql-snow .ql-toolbar button:hover .ql-fill, .ql-snow.ql-toolbar button:focus .ql-fill, .ql-snow .ql-toolbar button:focus .ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: var(--vscode-button-background) !important;
}